@model List<VisitorSystem.Models.Host>
<script>
    function AddHost() {
        location.href = '@Url.Action("HostDetail", "Admin", new { HostID = 0 })';
    }
</script>

<div id="contents">
    <div class="sub_container">
        <div class="row">
            <div class="col md-1">
                <div class="sub_heading">
                    <h2 class="mr15">접견인 관리</h2>
                    <button class="btn-top" onclick="AddHost()">접견인 등록</button>
                    <div class="search-container">
                        <form id="search" method="get">
                            <select id="sbSearchColumn" class="form-control form-inline">
                                <option value="HostName" selected="selected">성명</option>
                                <option value="Company">회사</option>
                                <option value="Mobile">연락처</option>
                                <option value="Tel">연락처</option>
                            </select>
                            <input type="hidden" id="SearchColumn" name="SearchColumn" value="@ViewBag.SearchColumn">
                            <input type="text" id="txtSearchString" value="@ViewBag.SearchString">
                            <input type="hidden" id="SearchString" name="SearchString" value="@ViewBag.SearchString">
                            <button onclick="search()"><span class="icon seach"></span></button>
                            <input type="hidden" name="currentPage" id="currentPage" value="@ViewBag.CurrentPage" />
                        </form>
                    </div><!-- .search-container(E) -->
                </div><!-- .sub_heading(E) -->
                <div class="row">
                    <div class="md-1">
                        <table class="list" width="100%" summary="접견인 관리">
                            <caption><span class="offsreen">접견인 관리</span></caption>
                            <colgroup>
                                <col width="20%" />
                                <col width="20%" />
                                <col width="20%" />
                                <col width="20%" />
                                <col width="*" />
                            </colgroup>
                            <thead>
                            <th scope="성명">성명</th>
                            <th scope="직급">직급</th>
                            <th scope="회사">회사</th>
                            <th scope="연락처">연락처</th>
                            <th scope="내선">내선</th>
                            </thead>
                            <!--테이블 내용 부분-->
                            <tbody>
                                @foreach (VisitorSystem.Models.Host host in Model)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(host.HostName, "HostDetail", new { HostID = host.HostID }, new { @class = "link" })</td>
                                        <td>@host.GradeName</td>
                                        <td>@host.Company</td>
                                        <td>@host.Mobile</td>
                                        <td>@host.Tel</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--table(E)-->
                        <div class="pageing">
                            <ul class="page">

                                @{
                                    int pageCount = ViewBag.TotalCount / ViewBag.PagePerData + 1;
                                    <li><a href="javascript:pagePrev()"><span class="icon prev">&nbsp;</span></a></li>
                                    for (int i = 1; i < pageCount + 1; i++)
                                    {
                                        if (i == ViewBag.CurrentPage)
                                        {
                                            <li><a href="javascript:pageMove(@i);" class="active">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="javascript:pageMove(@i);">@i</a></li>
                                        }

                                    }
                                    <li><a href="javascript:pageNext(@pageCount)"><span class="icon next">&nbsp;</span></a></li>
                                }

                            </ul>
                        </div><!-- .paging(E) -->
                    </div><!-- .md-1(E) -->
                </div><!-- .row(E) -->

            </div><!-- .col md-1(E) -->
        </div><!-- .row(E) -->
    </div>

</div><!--contents(E)-->
